<h1 class="text-2xl font-bold">Listado de Productos</h1>
<h3 class="text-lg">Total de productos <span class="text-accent">{{productsResource.value()?.count}}</span></h3>

<div class="divider"></div>

<div>
    <app-pagination [pages]="productsResource.value()?.pages ?? 0"  [currentPage]="paginationService.currentPage()"/>
</div>


<div class="flex flex-2 gap-5">
  <button class="btn btn-accent" routerLink="/admin/product/new">
    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
  </svg>

    Nuevo Producto
  </button>


  <select class="select select-bordered w-32" (change)="productsPerPage.set(+selectedPerPage.value)" #selectedPerPage>
  <option value="10">10</option>
  <option value="20">20</option>
  <option value="50">50</option>
  <option value="100">100</option>
</select>

</div>




<product-table [products]="productsResource.value()?.products ?? []"/>

